# Python Data Types

In [1]:
4*4

16

In [2]:
4**2

16

In [3]:
x=4

In [4]:
y1 = float(x**2)

In [5]:
y2 = int(y)

NameError: name 'y' is not defined

In [ ]:
y3 = str(y)

In [ ]:
y4 = y1+y2

In [ ]:
y4

In [ ]:
type(y1)

In [ ]:
type(y2)

In [ ]:
type(y3)

In [ ]:
y5=bool(y1)

In [ ]:
y5

In [ ]:
z=4

In [ ]:
x==z

In [ ]:
age = input("Enter your age: ")

In [ ]:
age

In [ ]:
type(age)

In [ ]:
age = int(age)

In [ ]:
age

In [ ]:
import math
y1s = math.sqrt(y1)

In [ ]:
y1s

# Python Data Structures

In [7]:
# Lists
mylist=[2,3,4,5,6,7,8,9,10,11,12]

In [8]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [9]:
type(mylist)

list

In [10]:
mylist2 =[13,14,15,16,17,18,19,20]

In [11]:
type(mylist2)

list

In [12]:
import numpy as np
listnp = np.array(mylist)

In [13]:
type(listnp)

numpy.ndarray

In [14]:
mylist3 = ["Joelle", "Kade", "Kye", "Ellie", "Dave"]

In [15]:
mylist3

['Joelle', 'Kade', 'Kye', 'Ellie', 'Dave']

In [16]:
mylist4 = ["Dave", 46, "Professor"]

In [17]:
listnp = np.array(mylist4)

In [18]:
listnp

array(['Dave', '46', 'Professor'], dtype='<U9')

In [19]:
mylist
mylist2

[13, 14, 15, 16, 17, 18, 19, 20]

In [20]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [21]:
mylist+mylist2

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [22]:
mylist5 = [2,3,4,5,6,7,8,9,10,11,12]

In [23]:
mylist5

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [24]:
mylist+mylist5

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [25]:
mylistadd1 = np.array(mylist)

In [27]:
mylistadd2 = np.array(mylist5)

In [28]:
mylistadded = mylistadd1 +mylistadd2

In [29]:
mylistadded

array([ 4,  6,  8, 10, 12, 14, 16, 18, 20, 22, 24])

In [36]:
myaddedlist = []
for x in mylist:
    myaddedlist.append(x+x)

In [37]:
myaddedlist

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24]

In [40]:
for x in mylist3:
    add = x+"2"
    print(add)

Joelle2
Kade2
Kye2
Ellie2
Dave2

In [41]:
mylist

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [42]:
mylist[3]

5

In [44]:
mylist[6]

8

In [45]:
mylist[-1]

12

[2, 3, 4, 5]

In [48]:
#Tuples
mytuple = (2,3,4,5,6,7,8,9,10,11,12)

In [49]:
type(mytuple)

tuple

In [50]:
mytuple(3)

TypeError: 'tuple' object is not callable

In [52]:
mydictionary = {'FName':'Dave', 'LName':'Merwin', 'age':46}

In [56]:
mydictionary['FName']

'Dave'

In [57]:
nations = {'pop':[20,10,9,8]}

In [59]:
nations['pop'][0]

20

In [60]:
lastlist = [1, 2.0, 'Dave', [1,2,3,4], {'Burlington':'State'}]

In [62]:
mydict2 = {'City':['Burlington', 'Concord', 'Portland', 'Boston', 'Worcester', 'Providence', 'Hartford'],
                         'State':['VT','NH','ME','MA','MA','RI','CT'], 'Snowfall':[81.2,61.2,49,43.7,64.1,33.8,40.5]}

In [63]:
mydict2

{'City': ['Burlington',
  'Concord',
  'Portland',
  'Boston',
  'Worcester',
  'Providence',
  'Hartford'],
 'State': ['VT', 'NH', 'ME', 'MA', 'MA', 'RI', 'CT'],
 'Snowfall': [81.2, 61.2, 49, 43.7, 64.1, 33.8, 40.5]}